
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

header {
    background-color: #2a9d8f;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

nav {
    background-color: #e9c46a;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0.75rem 1rem;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #f4a261;
}

main {
    background-image: url('background4.jpg');
    background-size: flex;
    background-color: white;
    margin: 1.5rem 0;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 2rem;
}

h1{
    color: #264653d5;
}

h2 {
    color: red;
}

ul {
    line-height: 1.6;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Slightly wider grid items */
    grid-gap: 20px;
}

.grid-item {
    border: 1px solid #e0e0e0;
    padding: 15px;
    background-color: #f9f9f9;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #2a9d8f;
    color: white;
    margin-top: 2rem;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem auto;
    border-radius: 8px;
}

.hero-image {
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border-radius: 8px;
    height: 300px;
}

.hero-text {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 8px;
}

iframe {
    border: 1px solid black;
    width: 100%; /* takes precedence over the width set with the HTML width attribute */
  }